.topcities-img {
    object-fit: cover;
    opacity: 70%;
    border-radius: 5px;
}


.topcities-filter{
    background-color: black;
    padding: 0;
    margin-right: 7px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 39px 95px -53px rgba(0, 0, 0, 0.54);
    -webkit-box-shadow: 1px 39px 95px -1px rgba(0,0,0,0.54);
    -moz-box-shadow: 1px 39px 95px -1px rgba(0,0,0,0.54);
    transition: .4s ease-in-out;
}
.topcities-filter:hover{
    scale: 105%;
    z-index: 100;
}
.upper-topcities-name{
    position: absolute;
    color: #faf5f5;
    font-weight: 700;
    margin-top: -240px;
    margin-left: 10px;
}

